.container{
    background: linear-gradient(rgba(138, 100, 209, 0.644),rgba(8, 139, 47, 0.705));
    text-align: left;
    color: #fff;
    height: auto;
    width: 600px;
    padding-top: 20px;
    position: relative;
    left: 50px;
    margin-top: 50px;
    margin-right: 20px;
    float: left;
    border-radius: 15px;
}

.doctor1{
    display: block;
    padding-left: 50px;
    padding-bottom: 20px;
}

.image-area{
    background-color: green;
    float: right;
}

/* #database{
    display: inline;
} */

#doctorTitle{
    padding-left: 50px;
}

.inside{
    padding-bottom: 20px;
}