*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 50%;
}
tbl tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

tbl tr td{
    padding: 1%;
}
.btn-add{
    background-color: #e01183d3;
    padding: 1%;
    color: rgba(52, 209, 21, 0.795);
    text-decoration: none;
    font-weight: bold;
}
.btn-add:hover{
    background-color: #3742fa;
}
.btn-update{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-delete{
    background-color: #ff6b81;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}




/*menu */
.menu{
    background-color: #2c2c54;
    border-bottom: 1px solid grey;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #40407a;
}
.menu ul li a:hover{
    color: #2c2c54;
}


/* manage*/
.manage{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.colo-4{
    width: 18%;
    background-color: rgba(72, 22, 209, 0.849);
    margin: 1%;
    padding: 2%;
    float: left;
}




/*Footer */
.footer{
    background-color: #50abe7;
    color: white;
}
.footer a{
    color: tomato;
}

/* End footer */
